.alerta{
    padding: 0.5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 3rem 0;
    &.error{
        background-color: $rojoOscuro;
    }
    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    background-color:rgb(42, 51, 53);
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    
    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    tbody {
        td {
            color: $blanco;      
            padding: 1.5rem;    
            text-align: center; 
            border-bottom: 1px solid $verde; 
        }

        
        tr td:nth-child(2) {
            text-align: left;
        }
    }

    .imagen-tabla{
        width: 25rem;
        margin: 0 auto; 
    }
}

.imagen-small{
    width: 20rem;
}